EH_MEMBER_ID=
EH_PASS_HASH=
EH_IGNEOUS=
EH_CF_CLEARANCE=
EH_TIMEOUT_MS=30000
EH_MAX_RETRIES=2
EH_RETRY_BASE_MS=1000
EH_SEARCH_INTERVAL_MS=3000
EH_PAGE_INTERVAL_MS=1000
EH_API_INTERVAL_MS=1250
EH_SHORT_CACHE_TTL_MS=30000
EH_POPULAR_CACHE_TTL_MS=60000
EH_LONG_CACHE_TTL_MS=300000
EH_MAX_LOCAL_FILE_BYTES=33554432
